## Client (Vite) - visibles côté navigateur
VITE_SUPABASE_URL=https://cwalwgecwugfmixxjtgb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3YWx3Z2Vjd3VnZm1peHhqdGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMTg4ODksImV4cCI6MjA4Njg5NDg4OX0.MfBcUaV36aiSe8uJbC-0v7sb_dx-HwnO5JYZPWSvxGk

## Server (Vercel /api/*) - secrets
SUPABASE_URL=https://cwalwgecwugfmixxjtgb.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3YWx3Z2Vjd3VnZm1peHhqdGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMTg4ODksImV4cCI6MjA4Njg5NDg4OX0.MfBcUaV36aiSe8uJbC-0v7sb_dx-HwnO5JYZPWSvxGk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3YWx3Z2Vjd3VnZm1peHhqdGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTMxODg4OSwiZXhwIjoyMDg2ODk0ODg5fQ.XDHYav_9e8Gw8-VIKk7f4nLmeV17JeImsdQ4fzKHwxY
APP_ORIGIN=https://sport-track-hyder.vercel.app/
ACCOUNT_CODE_ENC_KEY=o9oTGQvalmCS0Ihhkzpc2G2UcJqJK2cLGovUZYy6n98=

